[user]
	email = xuzewei@gmail.com
	name = terriasxu

[color]
    diff = auto
    status = auto
    ui = auto

[color "diff"]
    meta = yellow bold
    frag = magenta bold # line info
    old = red # deletions
    new = green # additions

[alias]
    pm= "!git push -u origin master"
    c = commit -m
    a = add
    cob = checkout -b

[push]
    default = simple
